* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #333;
}

#canvas {
    position: absolute;
    top: 100px;
    margin: auto;
    z-index: -1;
}

.panel, .footer {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.panel {
    height: 100px;
}

.footer {
    bottom: 0;
    height: 50px;
}

.input-panel {
    margin: 2em;
}

.input-panel input {
    width: 5em;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}

.input-panel a, .input-panel a:hover, .input-panel a:visited {
    text-decoration: underline;
    color: #000;
}